venv/
__pycache__/
*.pyc
database.db
instance/
.env
.DS_Storedatabase/*.db
database/*backup*.db
static/uploads/
.env
*.py[cod]
database/*.db

# Backups gerados pelo sistema
backups/*.zip
backups/restore_*/
